In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re

pd.options.display.max_columns = 50

In [2]:
df_match = pd.read_csv('FIFA WC data/WorldCupMatches.csv')
df_players = pd.read_csv('FIFA WC data/WorldCupPlayers.csv')
df_cups = pd.read_csv('FIFA WC data/WorldCups.csv')

In [3]:
df_match

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_match.isna().sum()

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [5]:
df_match.dropna(how='all', inplace=True)
df_match.drop_duplicates(inplace=True)

In [6]:
df_match['Datetime'] = pd.to_datetime(df_match['Datetime'], format='mixed')

In [7]:
df_match.isna().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              1
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [8]:
df_match[df_match['Attendance'].isna()]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
823,2014.0,2014-06-30 17:00:00,Round of 16,Estadio Beira-Rio,Porto Alegre,Germany,2.0,1.0,Algeria,Germany win after extra time,NaN,0.0,0.0,RICCI Sandro (BRA),DE CARVALHO Emerson (BRA),VAN GASSE Marcelo (BRA),255951.0,300186460.0,GER,ALG

In [9]:
df_match[df_match['Stadium'] == 'Estadio Beira-Rio']

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
781,2014.0,2014-06-15 16:00:00,Group E,Estadio Beira-Rio,Porto Alegre,France,3.0,0.0,Honduras,,43012.0,1.0,0.0,RICCI Sandro (BRA),DE CARVALHO Emerson (BRA),VAN GASSE Marcelo (BRA),255931.0,300186496.0,FRA,HON
789,2014.0,2014-06-18 13:00:00,Group B,Estadio Beira-Rio,Porto Alegre,Australia,2.0,3.0,Netherlands,,42877.0,1.0,1.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255931.0,300186478.0,AUS,NED
802,2014.0,2014-06-22 16:00:00,Group H,Estadio Beira-Rio,Porto Alegre,Korea Republic,2.0,4.0,Algeria,,42732.0,0.0,3.0,ROLDAN Wilmar (COL),DIAZ Eduardo (COL),LESCANO Christian (ECU),255931.0,300186495.0,KOR,ALG
812,2014.0,2014-06-25 13:00:00,Group F,Estadio Beira-Rio,Porto Alegre,Nigeria,2.0,3.0,Argentina,,43285.0,1.0,2.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255931.0,300186458.0,NGA,ARG
823,2014.0,2014-06-30 17:00:00,Round of 16,Estadio Beira-Rio,Porto Alegre,Germany,2.0,1.0,Algeria,Germany win after extra time,NaN,0.0,0.0,RICCI Sandro (BRA),DE CARVALHO Emerson (BRA),VAN GASSE Marcelo (BRA),255951.0,300186460.0,GER,ALG

In [10]:
df_match['Attendance'].fillna(df_match[df_match['Stadium'] == 'Estadio Beira-Rio']['Attendance'].mean(), inplace=True)

In [11]:
df_match.isna().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [12]:
float_columns = ['Year', 'Home Team Goals', 'Away Team Goals', 'Half-time Home Goals', 'Half-time Away Goals', 'RoundID', 'MatchID', 'Attendance']
df_match[float_columns] = df_match[float_columns].astype(int)

In [13]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 835
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  836 non-null    int32
 1   Datetime              836 non-null    datetime64[ns]
 2   Stage                 836 non-null    object
 3   Stadium               836 non-null    object
 4   City                  836 non-null    object
 5   Home Team Name        836 non-null    object
 6   Home Team Goals       836 non-null    int32
 7   Away Team Goals       836 non-null    int32
 8   Away Team Name        836 non-null    object
 9   Win conditions        836 non-null    object
 10  Attendance            836 non-null    int32
 11  Half-time Home Goals  836 non-null    int32
 12  Half-time Away Goals  836 non-null    int32
 13  Referee               836 non-null    object
 14  Assistant 1           836 non-null    object
 15  Assistant 2           836 non-null    object
 16  RoundID               836 non-null    int32
 17  MatchID               836 non-null    int32
 18  Home Team Initials    836 non-null    object
 19  Away Team Initials    836 non-null    object
dtypes: datetime64[ns](1), int32(8), object(11)
memory usage: 111.0+ KB

In [14]:
df_match.describe()

,Year,Datetime,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID
count,836.000000,836,836.000000,836.000000,836.000000,836.000000,836.000000,8.360000e+02,8.360000e+02
mean,1984.535885,1985-01-01 20:22:19.593301440,1.824163,1.021531,44857.204545,0.718900,0.427033,1.086093e+07,5.677577e+07
min,1930.000000,1930-07-13 15:00:00,0.000000,0.000000,2000.000000,0.000000,0.000000,2.010000e+02,2.500000e+01
25%,1970.000000,1970-06-06 16:00:00,1.000000,0.000000,29800.000000,0.000000,0.000000,2.620000e+02,1.183500e+03
50%,1990.000000,1990-06-10 21:00:00,2.000000,1.000000,41061.500000,0.000000,0.000000,3.370000e+02,2.113500e+03
75%,2002.000000,2002-06-14 20:30:00,3.000000,2.000000,60984.500000,1.000000,1.000000,2.497220e+05,4.395005e+07
max,2014.000000,2014-07-13 16:00:00,10.000000,7.000000,173850.000000,6.000000,5.000000,9.741060e+07,3.001865e+08
std,22.299860,NaN,1.619178,1.072024,23537.091350,0.941995,0.675091,2.751802e+07,1.070329e+08

# Transformations

In [15]:
def get_condition(con):
    if con.find('extra time') != -1:
        return "ET"
    elif con.find('penalties') != -1:
        return "PEN"
    elif con.find('Golden Goal') != 1:
        return "GG"
    
def get_winner(data):
    h_team = data[0]
    h_goals = data[2]
    a_team = data[1]
    a_goals = data[3]
    cond = data[4]
    stage = data[5]
    if cond != ' ':
        if cond.startswith(' win on penalties'):
            h_goals, a_goals = map(int, cond[cond.find('(') + 1 : cond.find(')')].split(' - '))
        elif cond.find('Golden Goal') == -1:
            return cond.split(' win')[0]
    if h_goals > a_goals:
        return h_team
    elif a_goals > h_goals:
        return a_team
    else:
        return "Draw"
    
def clean_countries(name):
    name = re.sub(r'rn">', '', name)
    name = name.replace("IR Iran", "Iran")
    name = name.replace("Germany FR", "Germany")
    name = name.replace("German DR", "Germany")
    return name

def clean_initials(name):
    name = name.replace("GDR", "GER")
    name = name.replace("FRG", "GER")
    return name

In [16]:
df_match['Win condition'] = df_match[df_match['Win conditions'] != " "]['Win conditions'].apply(lambda x: get_condition(x))

In [17]:
df_match['Home Team Name'] = df_match['Home Team Name'].apply(clean_countries)
df_match['Away Team Name'] = df_match['Away Team Name'].apply(clean_countries)
df_match['Home Team Initials'] = df_match['Home Team Initials'].apply(clean_initials)
df_match['Away Team Initials'] = df_match['Away Team Initials'].apply(clean_initials)
df_match['Match Winner'] = df_match[['Home Team Name','Away Team Name', 'Home Team Goals', 'Away Team Goals', 'Win conditions', 'Stage']].apply(get_winner, axis=1)

In [18]:
df_match[df_match['Win conditions'] != " "]['Stage'].value_counts()

Stage
Round of 16              21
Quarter-finals           15
Semi-finals               8
Final                     7
First round               3
Preliminary round         1
Group 1                   1
Match for third place     1
Name: count, dtype: int64

In [19]:
df_match['Replayed'] = False
draw_not_allowed = ['First round', 'Quarter-finals', 'Semi-finals', 'Final', 'Match for third place','Play-off for third place']

In [20]:
df_match.loc[(df_match[['Year','Stage','Home Team Name','Away Team Name']].duplicated(keep=False)) & (df_match['Home Team Goals'] == df_match['Away Team Goals']) & (df_match['Stage'].isin(draw_not_allowed)), 'Replayed'] = True

In [21]:
df_match

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Win condition,Match Winner,Replayed
0,1930,1930-07-13 15:00:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,NaN,France,False
1,1930,1930-07-13 15:00:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,NaN,USA,False
2,1930,1930-07-14 12:45:00,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,NaN,Yugoslavia,False
3,1930,1930-07-14 14:50:00,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,NaN,Romania,False
4,1930,1930-07-15 16:00:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,NaN,Argentina,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,2014,2014-07-05 13:00:00,Quarter-finals,Estadio Nacional,Brasilia,Argentina,1,0,Belgium,,68551,1,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255953,300186504,ARG,BEL,NaN,Argentina,False
832,2014,2014-06-29 13:00:00,Round of 16,Estadio Castelao,Fortaleza,Netherlands,2,1,Mexico,,58817,0,0,PROENCA Pedro (POR),MIRANDA Bertino (POR),TRIGO Jose (POR),255951,300186508,NED,MEX,NaN,Netherlands,False
833,2014,2014-06-29 17:00:00,Round of 16,Arena Pernambuco,Recife,Costa Rica,1,1,Greece,Costa Rica win on penalties (5 - 3),41242,0,0,Ben WILLIAMS (AUS),CREAM Matthew (AUS),ANAZ Hakan (AUS),255951,300186459,CRC,GRE,PEN,Costa Rica,False
834,2014,2014-07-01 13:00:00,Round of 16,Arena de Sao Paulo,Sao Paulo,Argentina,1,0,Switzerland,Argentina win after extra time,63255,0,0,ERIKSSON Jonas (SWE),KLASENIUS Mathias (SWE),WARNMARK Daniel (SWE),255951,300186503,ARG,SUI,ET,Argentina,False
835,2014,2014-07-01 17:00:00,Round of 16,Arena Fonte Nova,Salvador,Belgium,2,1,USA,Belgium win after extra time,51227,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,300186497,BEL,USA,ET,Belgium,False

In [22]:
df_match.sort_values('Datetime', ascending=True, inplace=True)
#df_match.to_csv('WorldCupMatches_cleaned.csv', index=False)

# Players Dataframe

In [23]:
df_players

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN
...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [24]:
df_players_events = df_players[~pd.isna(df_players['Event'])].copy()
df_players_events

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
6,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Andre MASCHINOT,NaN,G43' G87'
14,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Lucien LAURENT,NaN,G19'
35,201,1090,USA,MILLAR Bob (USA),S,0,Tom FLORIE,C,G45'
...,...,...,...,...,...,...,...,...,...
37768,255959,300186501,GER,LOEW Joachim (GER),N,9,SCHï¿½RRLE,NaN,I31'
37776,255959,300186501,GER,LOEW Joachim (GER),N,17,MERTESACKER,NaN,I120'
37777,255959,300186501,ARG,SABELLA Alejandro (ARG),N,18,PALACIO,NaN,I78'
37778,255959,300186501,GER,LOEW Joachim (GER),N,19,Gï¿½TZE,NaN,I88' G113'
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'

In [25]:
df_players.isna().sum()

RoundID              0
MatchID              0
Team Initials        0
Coach Name           0
Line-up              0
Shirt Number         0
Player Name          0
Position         33641
Event            28715
dtype: int64

In [26]:
df_players.nunique()

RoundID           101
MatchID           836
Team Initials      82
Coach Name        335
Line-up             2
Shirt Number       24
Player Name      7663
Position            3
Event            1893
dtype: int64

In [27]:
df_players['Event'].str.find('G') == False

0        False
1        False
2         True
3         True
4        False
         ...
37779    False
37780    False
37781    False
37782    False
37783    False
Name: Event, Length: 37784, dtype: bool

In [28]:
df_match[df_match['Away Team Name'] == 'Mexico'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 0 to 832
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  37 non-null     int32
 1   Datetime              37 non-null     datetime64[ns]
 2   Stage                 37 non-null     object
 3   Stadium               37 non-null     object
 4   City                  37 non-null     object
 5   Home Team Name        37 non-null     object
 6   Home Team Goals       37 non-null     int32
 7   Away Team Goals       37 non-null     int32
 8   Away Team Name        37 non-null     object
 9   Win conditions        37 non-null     object
 10  Attendance            37 non-null     int32
 11  Half-time Home Goals  37 non-null     int32
 12  Half-time Away Goals  37 non-null     int32
 13  Referee               37 non-null     object
 14  Assistant 1           37 non-null     object
 15  Assistant 2           37 non-null     object
 16  RoundID               37 non-null     int32
 17  MatchID               37 non-null     int32
 18  Home Team Initials    37 non-null     object
 19  Away Team Initials    37 non-null     object
 20  Win condition         2 non-null      object
 21  Match Winner          37 non-null     object
 22  Replayed              37 non-null     bool
dtypes: bool(1), datetime64[ns](1), int32(8), object(13)
memory usage: 5.5+ KB

# World Cups

In [29]:
df_cups

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [30]:
df_cups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

In [31]:
df_match['Match Winner'].value_counts()

Match Winner
Draw                      160
Brazil                     73
Germany                    70
Argentina                  46
Italy                      46
                         ...
Jamaica                     1
Wales                       1
Korea DPR                   1
Tunisia                     1
Bosnia and Herzegovina      1
Name: count, Length: 64, dtype: int64

In [32]:
df_cups.nunique()

Year              20
Country           15
Winner             9
Runners-Up        10
Third             14
Fourth            16
GoalsScored       17
QualifiedTeams     5
MatchesPlayed      9
Attendance        20
dtype: int64

In [33]:
df_cups['Attendance'] = df_cups['Attendance'].apply(lambda x: int(x.replace('.','')))
df_cups['Winner'] = df_cups['Winner'].apply(clean_countries)
df_cups['Runners-Up'] = df_cups['Runners-Up'].apply(clean_countries)
df_cups['Third'] = df_cups['Third'].apply(clean_countries)
df_cups['Fourth'] = df_cups['Fourth'].apply(clean_countries)

In [34]:
df_cups

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany,Uruguay,95,16,32,1603975
9,1974,Germany,Germany,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [35]:
#df_cups.to_csv('WorldCup_cleaned.csv', index=False)

# Creating Countrywise Stats

In [36]:
df_match['Stage'].unique()

array(['Group 1', 'Group 4', 'Group 2', 'Group 3', 'Semi-finals', 'Final',
       'Preliminary round', 'Quarter-finals', 'Match for third place',
       'First round', 'Group 6', 'Group B', 'Group A', 'Group 5',
       'Group D', 'Group C', 'Group F', 'Group E', 'Round of 16',
       'Group H', 'Group G', 'Third place', 'Play-off for third place'],
      dtype=object)

In [37]:
x = ['Final', 'Third place', 'Match for third place', 'Play-off for third place', 'Semi-finals', 'Quarter-finals', 'Round of 16', 'First round', 'Group*', 'Preliminary round']

In [44]:
df_match[df_match['Away Team Name'] == cur_country].groupby(df_match[df_match['Away Team Name'] == cur_country].index.year).last()

AttributeError: 'Index' object has no attribute 'year'

In [80]:
cur_country = "Germany"

df_ctr = df_match[(df_match['Away Team Name'] == cur_country) | (df_match['Home Team Name'] == cur_country)].copy()
#df_ctr.index = pd.to_datetime(df_ctr.Datetime)

last_row_per_year = df_ctr.groupby(pd.DatetimeIndex(df_ctr.Datetime).year).last()

#def get_last_match(data):
#    print(data)

#df_match[df_match['Away Team Name'] == cur_country]['Year'].apply(get_last_match)

In [81]:
last_row_per_year.iloc[:, [0,2,5,6,7,8]]

,Year,Stage,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name
Datetime,,,,,,
1934,1934,Match for third place,Germany,3,2,Austria
1938,1938,First round,Switzerland,4,2,Germany
1954,1954,Final,Germany,3,2,Hungary
1958,1958,Match for third place,France,6,3,Germany
1962,1962,Quarter-finals,Yugoslavia,1,0,Germany
1966,1966,Final,England,4,2,Germany
1970,1970,Match for third place,Germany,1,0,Uruguay
1974,1974,Final,Netherlands,1,2,Germany
1978,1978,Group A,Austria,3,2,Germany
1982,1982,Final,Italy,3,1,Germany
1986,1986,Final,Argentina,3,2,Germany
1990,1990,Final,Germany,1,0,Argentina
1994,1994,Quarter-finals,Bulgaria,2,1,Germany
1998,1998,Quarter-finals,Germany,0,3,Croatia
2002,2002,Final,Germany,0,2,Brazil
2006,2006,Third place,Germany,3,1,Portugal
2010,2010,Match for third place,Uruguay,2,3,Germany
2014,2014,Final,Germany,1,0,Argentina

In [38]:
def form_winners(data):
    h_team = data[0]
    h_goals = data[2]
    a_team = data[1]
    a_goals = data[3]
    cond = data[4]
    stage = data[5]
    if cond != ' ':
        if cond.startswith(' win on penalties'):
            h_goals, a_goals = map(int, cond[cond.find('(') + 1 : cond.find(')')].split(' - '))
        elif cond.find('Golden Goal') == -1:
            return cond.split(' win')[0]
    if h_goals > a_goals:
        return h_team
    elif a_goals > h_goals:
        return a_team
    else:
        return "Draw"

In [39]:
pd.DataFrame([df_match['Away Team Name'].unique(), df_match['Away Team Initials'].unique()], index=['Country', 'Initials']).T

                   Country Initials
0                   Mexico      MEX
1                  Belgium      BEL
2                   Brazil      BRA
3                     Peru      PER
4                   France      FRA
..                     ...      ...
75   Serbia and Montenegro      SCG
76                  Angola      ANG
77                Slovakia      SVK
78                  Serbia      SRB
79  Bosnia and Herzegovina      BIH

[80 rows x 2 columns]