In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re

pd.options.display.max_columns = 50

In [2]:
df_match = pd.read_csv('FIFA WC data/WorldCupMatches.csv')
df_players = pd.read_csv('FIFA WC data/WorldCupPlayers.csv')
df_cups = pd.read_csv('FIFA WC data/WorldCups.csv')

In [3]:
df_match

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_match.isna().sum()

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [5]:
df_match.dropna(how='all', inplace=True)
df_match.drop_duplicates(inplace=True)

In [6]:
df_match['Datetime'] = pd.to_datetime(df_match['Datetime'], format='mixed')

In [7]:
df_match.isna().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              1
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [8]:
df_match[df_match['Attendance'].isna()]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
823,2014.0,2014-06-30 17:00:00,Round of 16,Estadio Beira-Rio,Porto Alegre,Germany,2.0,1.0,Algeria,Germany win after extra time,NaN,0.0,0.0,RICCI Sandro (BRA),DE CARVALHO Emerson (BRA),VAN GASSE Marcelo (BRA),255951.0,300186460.0,GER,ALG

In [9]:
df_match[df_match['Stadium'] == 'Estadio Beira-Rio']

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
781,2014.0,2014-06-15 16:00:00,Group E,Estadio Beira-Rio,Porto Alegre,France,3.0,0.0,Honduras,,43012.0,1.0,0.0,RICCI Sandro (BRA),DE CARVALHO Emerson (BRA),VAN GASSE Marcelo (BRA),255931.0,300186496.0,FRA,HON
789,2014.0,2014-06-18 13:00:00,Group B,Estadio Beira-Rio,Porto Alegre,Australia,2.0,3.0,Netherlands,,42877.0,1.0,1.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255931.0,300186478.0,AUS,NED
802,2014.0,2014-06-22 16:00:00,Group H,Estadio Beira-Rio,Porto Alegre,Korea Republic,2.0,4.0,Algeria,,42732.0,0.0,3.0,ROLDAN Wilmar (COL),DIAZ Eduardo (COL),LESCANO Christian (ECU),255931.0,300186495.0,KOR,ALG
812,2014.0,2014-06-25 13:00:00,Group F,Estadio Beira-Rio,Porto Alegre,Nigeria,2.0,3.0,Argentina,,43285.0,1.0,2.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255931.0,300186458.0,NGA,ARG
823,2014.0,2014-06-30 17:00:00,Round of 16,Estadio Beira-Rio,Porto Alegre,Germany,2.0,1.0,Algeria,Germany win after extra time,NaN,0.0,0.0,RICCI Sandro (BRA),DE CARVALHO Emerson (BRA),VAN GASSE Marcelo (BRA),255951.0,300186460.0,GER,ALG

In [10]:
df_match['Attendance'].fillna(df_match[df_match['Stadium'] == 'Estadio Beira-Rio']['Attendance'].mean(), inplace=True)

In [11]:
df_match.isna().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [12]:
float_columns = ['Year', 'Home Team Goals', 'Away Team Goals', 'Half-time Home Goals', 'Half-time Away Goals', 'RoundID', 'MatchID', 'Attendance']
df_match[float_columns] = df_match[float_columns].astype(int)

In [13]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 835
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  836 non-null    int32
 1   Datetime              836 non-null    datetime64[ns]
 2   Stage                 836 non-null    object
 3   Stadium               836 non-null    object
 4   City                  836 non-null    object
 5   Home Team Name        836 non-null    object
 6   Home Team Goals       836 non-null    int32
 7   Away Team Goals       836 non-null    int32
 8   Away Team Name        836 non-null    object
 9   Win conditions        836 non-null    object
 10  Attendance            836 non-null    int32
 11  Half-time Home Goals  836 non-null    int32
 12  Half-time Away Goals  836 non-null    int32
 13  Referee               836 non-null    object
 14  Assistant 1           836 non-null    object
 15  Assistant 2           836 non-null    object
 16  RoundID               836 non-null    int32
 17  MatchID               836 non-null    int32
 18  Home Team Initials    836 non-null    object
 19  Away Team Initials    836 non-null    object
dtypes: datetime64[ns](1), int32(8), object(11)
memory usage: 111.0+ KB

In [14]:
df_match.describe()

,Year,Datetime,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID
count,836.000000,836,836.000000,836.000000,836.000000,836.000000,836.000000,8.360000e+02,8.360000e+02
mean,1984.535885,1985-01-01 20:22:19.593301440,1.824163,1.021531,44857.204545,0.718900,0.427033,1.086093e+07,5.677577e+07
min,1930.000000,1930-07-13 15:00:00,0.000000,0.000000,2000.000000,0.000000,0.000000,2.010000e+02,2.500000e+01
25%,1970.000000,1970-06-06 16:00:00,1.000000,0.000000,29800.000000,0.000000,0.000000,2.620000e+02,1.183500e+03
50%,1990.000000,1990-06-10 21:00:00,2.000000,1.000000,41061.500000,0.000000,0.000000,3.370000e+02,2.113500e+03
75%,2002.000000,2002-06-14 20:30:00,3.000000,2.000000,60984.500000,1.000000,1.000000,2.497220e+05,4.395005e+07
max,2014.000000,2014-07-13 16:00:00,10.000000,7.000000,173850.000000,6.000000,5.000000,9.741060e+07,3.001865e+08
std,22.299860,NaN,1.619178,1.072024,23537.091350,0.941995,0.675091,2.751802e+07,1.070329e+08

# Transformations

In [15]:
def get_condition(con):
    if con.find('extra time') != -1:
        return "ET"
    elif con.find('penalties') != -1:
        return "PEN"
    elif con.find('Golden Goal') != 1:
        return "GG"
    else:
        return ''
    
def get_winner(data):
    h_team = data[0]
    h_goals = data[2]
    a_team = data[1]
    a_goals = data[3]
    cond = data[4]
    stage = data[5]
    if cond != ' ':
        if cond.startswith(' win on penalties'):
            h_goals, a_goals = map(int, cond[cond.find('(') + 1 : cond.find(')')].split(' - '))
        elif cond.find('Golden Goal') == -1:
            return cond.split(' win')[0]
    if h_goals > a_goals:
        return h_team
    elif a_goals > h_goals:
        return a_team
    else:
        return "Draw"
    
def half_time_result(data):
    h_team = data[0]
    h_goals = data[2]
    a_team = data[1]
    a_goals = data[3]
    if h_goals > a_goals:
        return h_team
    elif a_goals > h_goals:
        return a_team
    else:
        return "Draw"
    
def clean_countries(name):
    name = re.sub(r'rn">', '', name)
    name = name.replace("IR Iran", "Iran")
    name = name.replace("Germany FR", "Germany")
    #name = name.replace("German DR", "Germany")
    return name

def clean_initials(name):
    #name = name.replace("GDR", "GER")
    name = name.replace("FRG", "GER")
    return name

def after_half_time(data):
    winner = data[0]
    ht_winner = data[1]
    if winner == ht_winner and winner != "Draw":
        return 'Maintained the lead'
    elif ht_winner != winner:
        return "Bottled the lead"
    else:
        return "Draw till the end"

In [16]:
df_match['Win condition'] = df_match[df_match['Win conditions'] != " "]['Win conditions'].apply(lambda x: get_condition(x))
df_match['Win condition'].fillna('', inplace=True)

In [17]:
df_match['Home Team Name'] = df_match['Home Team Name'].apply(clean_countries)
df_match['Away Team Name'] = df_match['Away Team Name'].apply(clean_countries)
df_match['Home Team Initials'] = df_match['Home Team Initials'].apply(clean_initials)
df_match['Away Team Initials'] = df_match['Away Team Initials'].apply(clean_initials)
df_match['Match Winner'] = df_match[['Home Team Name','Away Team Name', 'Home Team Goals', 'Away Team Goals', 'Win conditions', 'Stage']].apply(get_winner, axis=1)
df_match['Half time result'] = df_match[['Home Team Name','Away Team Name', 'Half-time Home Goals', 'Half-time Away Goals']].apply(half_time_result, axis=1)
df_match['After Half time'] = df_match[['Match Winner','Half time result']].apply(after_half_time, axis=1)

In [18]:
df_match[df_match['Win conditions'] != " "]['Stage'].value_counts()

Stage
Round of 16              21
Quarter-finals           15
Semi-finals               8
Final                     7
First round               3
Preliminary round         1
Group 1                   1
Match for third place     1
Name: count, dtype: int64

In [19]:
df_match['Stage'].replace(['Third place', 'Play-off for third place'], 'Match for third place', inplace=True)

In [20]:
df_match['Replayed'] = False
draw_not_allowed = ['First round', 'Quarter-finals', 'Semi-finals', 'Final', 'Match for third place']

In [21]:
df_match['Stage'].unique()

array(['Group 1', 'Group 4', 'Group 2', 'Group 3', 'Semi-finals', 'Final',
       'Preliminary round', 'Quarter-finals', 'Match for third place',
       'First round', 'Group 6', 'Group B', 'Group A', 'Group 5',
       'Group C', 'Group D', 'Group F', 'Group E', 'Round of 16',
       'Group H', 'Group G'], dtype=object)

In [22]:
df_match.loc[(df_match[['Year','Stage','Home Team Name','Away Team Name']].duplicated(keep=False)) & (df_match['Home Team Goals'] == df_match['Away Team Goals']) & (df_match['Stage'].isin(draw_not_allowed)), 'Replayed'] = True

In [23]:
df_match

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Win condition,Match Winner,Half time result,After Half time,Replayed
0,1930,1930-07-13 15:00:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,,France,France,Maintained the lead,False
1,1930,1930-07-13 15:00:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,,USA,USA,Maintained the lead,False
2,1930,1930-07-14 12:45:00,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,,Yugoslavia,Yugoslavia,Maintained the lead,False
3,1930,1930-07-14 14:50:00,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,,Romania,Romania,Maintained the lead,False
4,1930,1930-07-15 16:00:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,,Argentina,Draw,Bottled the lead,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,2014,2014-07-05 13:00:00,Quarter-finals,Estadio Nacional,Brasilia,Argentina,1,0,Belgium,,68551,1,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255953,300186504,ARG,BEL,,Argentina,Argentina,Maintained the lead,False
832,2014,2014-06-29 13:00:00,Round of 16,Estadio Castelao,Fortaleza,Netherlands,2,1,Mexico,,58817,0,0,PROENCA Pedro (POR),MIRANDA Bertino (POR),TRIGO Jose (POR),255951,300186508,NED,MEX,,Netherlands,Draw,Bottled the lead,False
833,2014,2014-06-29 17:00:00,Round of 16,Arena Pernambuco,Recife,Costa Rica,1,1,Greece,Costa Rica win on penalties (5 - 3),41242,0,0,Ben WILLIAMS (AUS),CREAM Matthew (AUS),ANAZ Hakan (AUS),255951,300186459,CRC,GRE,PEN,Costa Rica,Draw,Bottled the lead,False
834,2014,2014-07-01 13:00:00,Round of 16,Arena de Sao Paulo,Sao Paulo,Argentina,1,0,Switzerland,Argentina win after extra time,63255,0,0,ERIKSSON Jonas (SWE),KLASENIUS Mathias (SWE),WARNMARK Daniel (SWE),255951,300186503,ARG,SUI,ET,Argentina,Draw,Bottled the lead,False
835,2014,2014-07-01 17:00:00,Round of 16,Arena Fonte Nova,Salvador,Belgium,2,1,USA,Belgium win after extra time,51227,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,300186497,BEL,USA,ET,Belgium,Draw,Bottled the lead,False

In [24]:
df_match.sort_values('Datetime', ascending=True, inplace=True)
#df_match.to_csv('WorldCupMatches_cleaned.csv', index=False)

# Players Dataframe

In [25]:
df_players

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN
...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [26]:
df_players.isna().sum()

RoundID              0
MatchID              0
Team Initials        0
Coach Name           0
Line-up              0
Shirt Number         0
Player Name          0
Position         33641
Event            28715
dtype: int64

In [27]:
df_players.nunique()

RoundID           101
MatchID           836
Team Initials      82
Coach Name        335
Line-up             2
Shirt Number       24
Player Name      7663
Position            3
Event            1893
dtype: int64

In [28]:
df_players.drop_duplicates(inplace=True)

# World Cups

In [29]:
df_cups

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [30]:
df_cups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

In [31]:
df_match['Match Winner'].value_counts()

Match Winner
Draw                      160
Brazil                     73
Germany                    68
Argentina                  46
Italy                      46
                         ...
Iran                        1
Korea DPR                   1
Tunisia                     1
Cuba                        1
Bosnia and Herzegovina      1
Name: count, Length: 65, dtype: int64

In [32]:
df_cups.nunique()

Year              20
Country           15
Winner             9
Runners-Up        10
Third             14
Fourth            16
GoalsScored       17
QualifiedTeams     5
MatchesPlayed      9
Attendance        20
dtype: int64

In [33]:
df_cups['Attendance'] = df_cups['Attendance'].apply(lambda x: int(x.replace('.','')))
df_cups['Winner'] = df_cups['Winner'].apply(clean_countries)
df_cups['Runners-Up'] = df_cups['Runners-Up'].apply(clean_countries)
df_cups['Third'] = df_cups['Third'].apply(clean_countries)
df_cups['Fourth'] = df_cups['Fourth'].apply(clean_countries)

In [34]:
df_cups

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany,Uruguay,95,16,32,1603975
9,1974,Germany,Germany,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [35]:
df_cups['Average Attendance'] = (df_cups['Attendance'] / df_cups['MatchesPlayed']).astype(int)

In [36]:
df_cups

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,Average Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549,32808
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000,21352
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700,20872
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246,47511
4,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768607,29561
5,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,819810,23423
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,27911
7,1966,England,England,Germany,Portugal,Soviet Union,89,16,32,1563135,48847
8,1970,Mexico,Brazil,Italy,Germany,Uruguay,95,16,32,1603975,50124
9,1974,Germany,Germany,Netherlands,Poland,Brazil,97,16,38,1865753,49098
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791,40678
11,1982,Spain,Italy,Germany,Poland,France,146,24,52,2109723,40571
12,1986,Mexico,Argentina,Germany,France,Belgium,132,24,52,2394031,46039
13,1990,Italy,Germany,Argentina,Italy,England,115,24,52,2516215,48388
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,68991
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100,43517
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,42268
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439,52491
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856,49669
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810,52918

In [37]:
#df_cups.to_csv('WorldCup_cleaned.csv', index=False)

In [38]:
#df_match.to_csv('WorldCupMatches_cleaned.csv', index=False)

# Creating Countrywise Stats

In [39]:
df_match['Stage'].unique()

array(['Group 1', 'Group 4', 'Group 2', 'Group 3', 'Semi-finals', 'Final',
       'Preliminary round', 'Quarter-finals', 'Match for third place',
       'First round', 'Group 6', 'Group B', 'Group A', 'Group 5',
       'Group D', 'Group C', 'Group F', 'Group E', 'Round of 16',
       'Group H', 'Group G'], dtype=object)

In [40]:
all_years = df_match['Year'].unique()
all_countries = df_match['Away Team Name'].sort_values().unique()
all_initials = df_match['Away Team Initials'].sort_values().unique().tolist()
df_players['Team Initials'].replace(['FRG'], 'GER', inplace=True)

In [41]:
def get_country_results(country):
    df_ctr = df_match[(df_match['Away Team Name'] == country) | (df_match['Home Team Name'] == country)].copy()
    last_row_per_year = df_ctr.groupby(pd.DatetimeIndex(df_ctr.Datetime).year).last()
    ctr_df = last_row_per_year.iloc[:, [0,2,5,8, -4]].copy()

    def get_yearly_result(data):
        yr, stage, ht, at, winner = data['Year'], data['Stage'], data['Home Team Name'], data['Away Team Name'], data['Match Winner']
        opp = at if ht == country else ht
        result, remarks = None, ''
        if stage == "Final":
            result = 'Champions' if winner == country else "Runners-up"
            remarks = ("Champions by beating " + opp + " in the final") if winner == country else ("Lost the final to " + opp)
        elif stage == "Match for third place":
            result = 'Third place' if winner == country else "Fourth place"
            remarks = ("Beaten " + opp + " to finish 3rd") if winner == country else ("Finished 4th behind " + opp)
        elif stage == 'Semi-finals':
            result = 'Fourth place'
            remarks = "Reached the Semifinal"
        elif stage.find('Group') != -1:
            result = 'Group stage'
            remarks = ("Eliminated in the group stages")
        elif stage == 'Round of 16' or stage == 'First round':
            result = 'Round of 16'
            remarks = ("Reached the round of 16") if winner == country else ("Eliminated by " + opp)
        else:
            result = stage
            remarks = ("Reached the " + stage) if winner == country else ("Eliminated by " + opp)
        
        return pd.Series([result, opp, remarks])

    ctr_df['Country'] = country
    initials = df_match[df_match['Away Team Name'] == country]['Away Team Initials'].unique()[0]
    ctr_df['Initials'] = initials
    ctr_df['Attendance'] = df_ctr.groupby('Year')['Attendance'].sum()
    ctr_df[['Result', 'Last opponent', 'Remarks']] = ctr_df.apply(get_yearly_result, axis=1)
    for year in all_years:
        if year not in ctr_df['Year'].values:
            nq_df = pd.DataFrame([[country, initials, year, 'Not qualified', '', 'Did not qualify for the tournament', np.nan]], 
                                 columns=['Country', 'Initials', 'Year', 'Result', 'Last opponent', 'Remarks', 'Attendance'])
            ctr_df = pd.concat([ctr_df, nq_df])
    ctr_df.sort_values('Year', inplace=True)
    ctr_df['Host'] = df_cups['Country'].values
    ctr_df = ctr_df.reset_index(drop=True)
    ctr_df = ctr_df[['Country', 'Initials', 'Host', 'Year', 'Attendance', 'Result', 'Last opponent', 'Remarks']]

    return ctr_df

In [42]:
df_country = pd.DataFrame(columns=['Country', 'Initials', 'Host', 'Year', 'Attendance', 'Result', 'Last opponent', 'Remarks'])

for country in all_countries:
    temp = get_country_results(country)
    df_country = pd.concat([df_country, temp])

df_country = df_country.reset_index(drop=True)

In [43]:
def get_statistics(dataset):
    dataset['Goals_scored'] = np.nan
    dataset['Goals_conceded'] = np.nan
    dataset['Matches'] = np.nan
    dataset['Wins'] = np.nan
    dataset['Draws'] = np.nan
    dataset['Losses'] = np.nan
    dataset['Win percentage'] = np.nan

    for i, val in dataset.iterrows():
        yr = val['Year']
        ctry = val['Country']
        if (dataset.loc[(dataset['Country'] == ctry) & (dataset['Year'] == yr), 'Result'].values[0] == 'Not qualified'):
            continue
        temp_dt = df_match[((df_match['Home Team Name'] == ctry) | (df_match['Away Team Name'] == ctry)) & (df_match['Year'] == yr)]
        res = temp_dt['Match Winner'].value_counts().to_dict()
        matches = temp_dt.shape[0]
        wins = res[ctry] if ctry in res.keys() else 0
        draws = res['Draw'] if 'Draw' in res.keys() else 0
        losses = matches - wins - draws
        temp_ht_df = df_match[(df_match['Home Team Name'] == ctry) & (df_match['Year'] == yr)]
        temp_at_df = df_match[(df_match['Away Team Name'] == ctry) & (df_match['Year'] == yr)]
        gs_year = temp_ht_df['Home Team Goals'].sum() + temp_at_df['Away Team Goals'].sum()
        gc_year = temp_ht_df['Away Team Goals'].sum() + temp_at_df['Home Team Goals'].sum()

        dataset.iloc[i, -7] = gs_year
        dataset.iloc[i, -6] = gc_year
        dataset.iloc[i, -5] = matches
        dataset.iloc[i, -4] = wins
        dataset.iloc[i, -3] = draws
        dataset.iloc[i, -2] = losses
        dataset.iloc[i, -1] = round(wins / matches * 100, 2)

    dataset['Goals_scored'] = dataset['Goals_scored'].astype('Int8')
    dataset['Goals_conceded'] = dataset['Goals_conceded'].astype('Int8')
    dataset['Matches'] = dataset['Matches'].astype('Int8')
    dataset['Wins'] = dataset['Wins'].astype('Int8')
    dataset['Draws'] = dataset['Draws'].astype('Int8')
    dataset['Losses'] = dataset['Losses'].astype('Int8')
    dataset['Attendance'] = dataset['Attendance'].astype('Int32')
    
    return dataset

df_country = get_statistics(df_country)

In [44]:
def get_coaches(data):
    yy, init = data['Year'], data['Initials']
    cur_ids = df_match[(df_match['Year'] == yy) & ((df_match['Home Team Initials'] == init) | (df_match['Away Team Initials'] == init))]['MatchID'].tolist()
    sliced = df_players[(df_players['MatchID'].isin(cur_ids)) & (df_players['Team Initials'] == init)]
    if sliced.shape[0] > 0:
        cur_mgr = sliced.groupby('Coach Name')['MatchID'].nunique().sort_values(ascending=False).index[0]
        return cur_mgr
    return ''
df_country['Coach'] = df_country.apply(get_coaches, axis=1)

In [45]:
cols = ['Comebacks', 'Bottled', 'Draw', 'HT victory', '2nd HF win', 'NT win', 'NT loss', 'NT draw', 'ET win', 'ET loss', 'GG win', 'GG loss', 'PEN win', 'PEN loss']
df_country[cols] = np.nan

In [46]:
for country in all_countries:
    for year in all_years:
        temp = df_match[((df_match['Away Team Name'] == country) | (df_match['Home Team Name'] == country)) & (df_match['Year'] == year)]
        comeback, bottled, just_draw, ht_win_maintain, won_in_2nd, nt_won, nt_lost, nt_draw, et_won, et_lost, gg_won, gg_lost, pen_won, pen_lost = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
        for i, row in temp.iterrows():
            won, ht_won, win_con = row['Match Winner'], row['Half time result'], row['Win condition']
            if ht_won != country and ht_won != 'Draw' and won == country:
                comeback += 1
            elif ht_won == country and won == country:
                ht_win_maintain += 1
            elif ht_won == 'Draw' and won == country:
                won_in_2nd += 1
            elif ht_won == 'Draw' and won == 'Draw':
                just_draw += 1
            elif ht_won != 'Draw' and ht_won == country and won != country:
                bottled += 1

            if win_con == '' and won == country:
                nt_won += 1
            elif win_con == '' and won != country and won != 'Draw':
                nt_lost += 1
            elif win_con == '' and won == 'Draw':
                nt_draw += 1
            elif win_con == 'ET' and won == country:
                et_won += 1
            elif win_con == 'ET' and won != country:
                et_lost += 1
            elif win_con == 'PEN' and won == country:
                pen_won += 1
            elif win_con == 'PEN' and won != country:
                pen_lost += 1
            elif win_con == 'GG' and won == country:
                gg_won += 1
            elif win_con == 'GG' and won != country:
                gg_lost += 1

        temp_bool = (df_country['Country'] == country) & (df_country['Year'] == year) & ~(df_country['Result'] == 'Not qualified')
        df_country.loc[temp_bool, 'Comebacks'] = comeback
        df_country.loc[temp_bool, 'Bottled'] = bottled
        df_country.loc[temp_bool, 'Draw'] = just_draw
        df_country.loc[temp_bool, 'HT victory'] = ht_win_maintain
        df_country.loc[temp_bool, '2nd HF win'] = won_in_2nd

        df_country.loc[temp_bool, 'NT win'] = nt_won
        df_country.loc[temp_bool, 'NT loss'] = nt_lost
        df_country.loc[temp_bool, 'NT draw'] = nt_draw

        df_country.loc[temp_bool, 'ET win'] = et_won
        df_country.loc[temp_bool, 'ET loss'] = et_lost
        df_country.loc[temp_bool, 'GG win'] = gg_won
        df_country.loc[temp_bool, 'GG loss'] = gg_lost
        df_country.loc[temp_bool, 'PEN win'] = pen_won
        df_country.loc[temp_bool, 'PEN loss'] = pen_lost

df_country.loc[:, cols] = df_country.loc[:, cols].astype('Int8')

In [47]:
df_germany = df_country[df_country['Country'] == 'Germany'].copy()
df_argentina = df_country[df_country['Country'] == 'Argentina'].copy()

In [48]:
df_players[df_players['Team Initials'] == 'GER']['Player Name'].value_counts().nlargest(5)

Player Name
KLOSE                      28
Sepp MAIER                 25
Mï¿½LLER                     24
Karl-Heinz SCHNELLINGER    22
Uwe SEELER                 22
Name: count, dtype: int64

In [49]:
ctry_match = (df_players['Team Initials'] == 'GER')
has_event = (~df_players['Event'].isna())
scored_goal = (~(df_players['Event'].isna()) & (df_players['Event'].str.count('G') > 0))

In [50]:
df_players[(df_players['Event'].str.count('Y') > 0)]

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
2915,209,1186,BRA,COSTA Flavio (BRA),S,0,BIGODE,NaN,Y1'
5857,231,1447,ARG,LORENZO Juan Carlos (ARG),S,15,Ruben NAVARRO,C,Y1'
7256,238,1596,BUL,VYTLACIL Rudolf (TCH),S,6,Dobromir JECHEV,NaN,Y1'
7257,238,1596,BRA,FEOLA Vicente (BRA),S,13,DENILSON,NaN,Y1'
7264,238,1596,BUL,VYTLACIL Rudolf (TCH),S,11,Ivan KOLEV,NaN,Y1'
...,...,...,...,...,...,...,...,...,...
36964,255951,300186503,ARG,SABELLA Alejandro (ARG),S,7,DI MARIA,NaN,G118' Y120'
36972,255951,300186503,ARG,SABELLA Alejandro (ARG),S,16,ROJO,NaN,Y90' O105'
36997,255951,300186503,SUI,HITZFELD Ottmar (GER),N,16,FERNANDES,NaN,I66' Y73'
37006,255951,300186497,BEL,WILMOTS Marc (BEL),S,4,KOMPANY,C,Y42'
37021,255951,300186497,USA,KLINSMANN Juergen (GER),S,20,CAMERON,NaN,Y18'

In [51]:
def get_goals_scored(data):
    if pd.notna(data):
        gs = data.count('G')
        if gs > 0:
            return gs

df_players['Goals'] = df_players['Event'].apply(get_goals_scored)

In [52]:
df_players.groupby('Player Name')['Goals'].count().nlargest(10)

Player Name
RONALDO                               13
KLOSE                                 11
Gerd MUELLER                           9
Uwe SEELER                             9
Grzegorz LATO                          8
Helmut RAHN                            8
JAIRZINHO                              8
Mï¿½LLER                                 8
PELï¿½ (Edson Arantes do Nascimento)     8
BEBETO                                 6
Name: Goals, dtype: int64

In [53]:
df_players[df_players['Player Name'] == 'KLOSE'].shape

(28, 10)

In [54]:
df_players['Match Year'] = df_players['MatchID'].apply(lambda x: df_match[df_match['MatchID'] == int(x)]['Year'].values[0])

In [55]:
def get_clean_sheets(data, ctry):
    ht, at, hg, ag = data['Home Team Name'], data['Away Team Name'], data['Home Team Goals'], data['Away Team Goals']
    gc = ag if ht == ctry else hg
    return 1 if gc == 0 else 0

def clean_sheets(data):
    ctry, yr = data['Country'], data['Year']
    return df_match[((df_match['Home Team Name'] == ctry) | (df_match['Away Team Name'] == ctry)) & (df_match['Year'] == yr)].apply(lambda x: get_clean_sheets(x, ctry), axis=1).sum()

In [56]:
df_country['clean sheets'] = df_country.apply(clean_sheets, axis=1).astype('Int8')

In [57]:
events = df_players['Event'].unique().tolist()[1:]

In [58]:
def get_final(data):
    temp = df_match[(df_match['Stage'] == 'Final') & (df_match['Year'] == data)]
    if temp.shape[0] > 0:
        return temp['Stadium'].values[0] + ", " + temp['City'].values[0]

def get_final_attendance(data):
    temp = df_match[(df_match['Stage'] == 'Final') & (df_match['Year'] == data)]
    if temp.shape[0] > 0:
        return temp['Attendance'].values[0]

In [59]:
df_cups['Final venue'] = df_cups['Year'].apply(get_final)
df_cups['Attendance for the final'] = df_cups['Year'].apply(get_final_attendance).astype('Int32')

In [60]:
#df_country.to_csv('WorldCupCountries.csv', index=False)
#df_players.to_csv('WorldCupPlayers_cleaned.csv', index=False)

In [61]:
df_germany

,Country,Initials,Host,Year,Attendance,Result,Last opponent,Remarks,Goals_scored,Goals_conceded,Matches,Wins,Draws,Losses,Win percentage,Coach,Comebacks,Bottled,Draw,HT victory,2nd HF win,NT win,NT loss,NT draw,ET win,ET loss,GG win,GG loss,PEN win,PEN loss
580,Germany,GER,Uruguay,1930,<NA>,Not qualified,,Did not qualify for the tournament,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
581,Germany,GER,Italy,1934,33000,Third place,Austria,Beaten Austria to finish 3rd,11,8,4,3,0,1,75.00,NERZ Otto (GER),1,0,0,1,1,3,1,0,0,0,0,0,0,0
582,Germany,GER,France,1938,47177,Round of 16,Switzerland,Eliminated by Switzerland,3,5,2,0,1,1,0.00,HERBERGER Sepp (FRG),0,1,1,0,0,0,1,1,0,0,0,0,0,0
583,Germany,GER,Brazil,1950,<NA>,Not qualified,,Did not qualify for the tournament,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
584,Germany,GER,Switzerland,1954,238500,Champions,Hungary,Champions by beating Hungary in the final,25,14,6,5,0,1,83.33,HERBERGER Sepp (FRG),0,0,0,3,2,5,1,0,0,0,0,0,0,0
585,Germany,GER,Sweden,1958,180155,Fourth place,France,Finished 4th behind France,12,14,6,2,2,2,33.33,HERBERGER Sepp (FRG),0,0,1,2,0,2,2,2,0,0,0,0,0,0
586,Germany,GER,Chile,1962,260910,Quarter-finals,Yugoslavia,Eliminated by Yugoslavia,4,2,4,2,1,1,50.00,HERBERGER Sepp (FRG),0,0,1,2,0,2,1,1,0,0,0,0,0,0
587,Germany,GER,England,1966,300105,Runners-up,England,Lost the final to England,15,6,6,4,1,1,66.67,SCHOEN Helmut (FRG),0,0,1,3,1,4,0,1,0,1,0,0,0,0
588,Germany,GER,Mexico,1970,273731,Third place,Uruguay,Beaten Uruguay to finish 3rd,17,10,6,4,0,2,66.67,SCHOEN Helmut (FRG),1,0,0,3,0,4,0,0,0,2,0,0,0,0
589,Germany,GER,Germany,1974,469985,Champions,Netherlands,Champions by beating Netherlands in the final,13,4,7,6,0,1,85.71,SCHOEN Helmut (FRG),1,0,0,4,1,6,1,0,0,0,0,0,0,0
590,Germany,GER,Argentina,1978,280119,Group stage,Austria,Eliminated in the group stages,10,5,6,1,4,1,16.67,SCHOEN Helmut (FRG),0,1,4,1,0,1,1,4,0,0,0,0,0,0
591,Germany,GER,Spain,1982,450089,Runners-up,Italy,Lost the final to Italy,12,10,7,4,1,2,57.14,DERWALL Jupp (GER),0,0,1,2,2,3,2,1,0,0,0,0,1,0
592,Germany,GER,Mexico,1986,317600,Runners-up,Argentina,Lost the final to Argentina,8,7,7,3,1,3,42.86,BECKENBAUER Franz (GER),0,0,0,1,2,3,2,1,0,0,0,0,0,1
593,Germany,GER,Italy,1990,502581,Champions,Argentina,Champions by beating Argentina in the final,15,5,7,6,1,0,85.71,BECKENBAUER Franz (GER),0,0,1,3,3,5,0,1,0,0,0,0,1,0
594,Germany,GER,USA,1994,322474,Quarter-finals,Bulgaria,Eliminated by Bulgaria,9,7,5,3,1,1,60.00,VOGTS Berti (GER),0,0,0,2,1,3,1,1,0,0,0,0,0,0
595,Germany,GER,France,1998,182300,Quarter-finals,Croatia,Eliminated by Croatia,8,6,5,3,1,1,60.00,VOGTS Berti (GER),0,0,0,1,2,3,1,1,0,0,0,0,0,0
596,Germany,GER,Korea/Japan,2002,311955,Runners-up,Brazil,Lost the final to Brazil,14,3,7,5,1,1,71.43,VOELLER Rudi (GER),0,1,0,2,3,5,1,1,0,0,0,0,0,0
597,Germany,GER,Germany,2006,458000,Third place,Portugal,Beaten Portugal to finish 3rd,14,6,7,6,0,1,85.71,Jï¿½rgen KLINSMANN (GER),0,0,0,3,3,5,0,0,0,1,0,0,1,0
598,Germany,GER,South Africa,2010,386169,Third place,Uruguay,Beaten Uruguay to finish 3rd,16,5,7,5,0,2,71.43,LOEW Joachim (GER),0,0,0,3,2,5,2,0,0,0,0,0,0,0
599,Germany,GER,Brazil,2014,402673,Champions,Argentina,Champions by beating Argentina in the final,18,4,7,6,1,0,85.71,LOEW Joachim (GER),0,0,1,3,3,4,0,1,2,0,0,0,0,0

# Events

In [124]:
df_events = df_country[['Country', 'Initials', 'Year']].copy()
minute_cols = ['0-15', '16-30', '31-45', '46-60', '61-75', '76-90', 'ET', 'Yellows','Reds']

In [125]:
df_players_germany = df_players[df_players['Team Initials'] == 'GER'].copy()
df_players_germany_2014 = df_players_germany[df_players_germany['Match Year'] == 2014].copy()

In [126]:
minutes_data = []

for i, data in df_events.iterrows():
    ctry, yr = data['Initials'], data['Year']
    temp = df_players[(df_players['Team Initials'] == ctry) & (df_players['Match Year'] == yr)]
    if temp.shape[0] > 0:
        gs_min = [0] * 9
        for evt in temp['Event']:
            if pd.notna(evt):
                for i in re.findall(r"G(.*?)\'", evt):
                    i = int(i)
                    if i <= 15:
                        gs_min[0] += 1
                    elif i <= 30:
                        gs_min[1] += 1
                    elif i <= 45:
                        gs_min[2] += 1
                    elif i <= 60:
                        gs_min[3] += 1
                    elif i <= 75:
                        gs_min[4] += 1
                    elif i <= 90:
                        gs_min[5] += 1
                    else:
                        gs_min[6] += 1
                gs_min[8] += (1 if evt.count('R') > 0 else 0)
                gs_min[7] += len(re.findall(r"Y(.*?)\'", evt)) - evt.count('RSY')
        minutes_data.append(gs_min)
    else:
        minutes_data.append([np.nan]*7)

In [127]:
df_events = pd.concat([df_events, pd.DataFrame(minutes_data, columns = minute_cols).astype('Int8')], axis=1)
df_events_germany = df_events[df_events['Country'] == 'Germany']

In [128]:
#df_events.to_csv('WorldCupEvents.csv', index=False)

### events = G:goal, I:subbed in O:subbed out Y:yellow card IH:in at halftime OH:out at halftime

In [123]:
gs_min = [0] * 9
for evt in df_players_germany_2014['Event']:
    if pd.notna(evt):
        for i in re.findall(r"G(.*?)\'", evt):
            i = int(i)
            if i <= 15:
                gs_min[0] += 1
            elif i <= 30:
                gs_min[1] += 1
            elif i <= 45:
                gs_min[2] += 1
            elif i <= 60:
                gs_min[3] += 1
            elif i <= 75:
                gs_min[4] += 1
            elif i <= 90:
                gs_min[5] += 1
            else:
                gs_min[6] += 1
        gs_min[8] += evt.count('R')
        gs_min[7] += len(re.findall(r"Y(.*?)\'", evt)) - evt.count('RSY')

In [84]:
df_players_germany_2014[df_players_germany_2014['Event'].str.count('Y')>0]

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Goals,Match Year
36131,255931,300186469,GER,LOEW Joachim (GER),S,4,Hï¿½WEDES,NaN,Y11',NaN,2014
36460,255951,300186460,GER,LOEW Joachim (GER),S,16,LAHM,C,Y107',NaN,2014
36549,255953,300186485,GER,LOEW Joachim (GER),S,6,KHEDIRA,NaN,Y54',NaN,2014
36551,255953,300186485,GER,LOEW Joachim (GER),S,7,SCHWEINSTEIGER,NaN,Y80',NaN,2014
36682,255959,300186501,GER,LOEW Joachim (GER),S,4,Hï¿½WEDES,NaN,Y34',NaN,2014
36686,255959,300186501,GER,LOEW Joachim (GER),S,7,SCHWEINSTEIGER,NaN,Y29',NaN,2014

In [81]:
gs_min

[2, 4, 2, 2, 2, 2, 3, 0, 0]

In [392]:
test = df_players[df_players['Event'].str.count('G') > 0]

In [512]:
zzz = []
for k in df_players['Event']:
    if pd.notna(k):
        zzz += (re.sub(r'[^a-zA-Z\s]', '', k).split())
all_events = list(set(zzz))

In [513]:
all_events

['O', 'I', 'IH', 'W', 'MP', 'G', 'Y', 'RSY', 'P', 'R', 'OH']

In [79]:
re.findall(r"Y(.*?)\'", "Y42' Y66' RSY66'") + re.findall(r"R(.*?)\'", "Y42' Y66' RSY66'")

['42', '66', '66', 'SY66']

In [105]:
df_players[df_players['Event'].str.count('I')>0]

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Goals,Match Year
8593,250,1902,MEX,CARDENAS Raul (MEX),N,8,Antonio MUNGUIA,NaN,I67',NaN,1970
8604,250,1902,URS,KACHALIN Gavril (URS),N,20,Anatoli PUZACH,NaN,IH46',NaN,1970
8606,250,1902,URS,KACHALIN Gavril (URS),N,21,Vitali KHMELNITSKI,NaN,I66',NaN,1970
8632,250,1881,ISR,SHEFFER Emmanuel (ISR),N,2,Shraga BAR,NaN,IH46',NaN,1970
8640,250,1881,ISR,SHEFFER Emmanuel (ISR),N,16,Johanan VALLACH,NaN,I57',NaN,1970
...,...,...,...,...,...,...,...,...,...,...,...
37030,255951,300186497,BEL,WILMOTS Marc (BEL),N,9,LUKAKU,NaN,I91' G105',1.0,2014
37032,255951,300186497,BEL,WILMOTS Marc (BEL),N,11,MIRALLAS,NaN,I60',NaN,2014
37040,255951,300186497,BEL,WILMOTS Marc (BEL),N,22,CHADLI,NaN,I111',NaN,2014
37041,255951,300186497,USA,KLINSMANN Juergen (GER),N,16,GREEN,NaN,I105' G107',1.0,2014
37045,255951,300186497,USA,KLINSMANN Juergen (GER),N,18,WONDOLOWSKI,NaN,I72',NaN,2014

In [107]:
df_match[(df_match['Home Team Name'] == 'Brazil') & (df_match['Year'] == 2014)]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Win condition,Match Winner,Half time result,After Half time,Replayed
772,2014,2014-06-12 17:00:00,Group A,Arena de Sao Paulo,Sao Paulo,Brazil,3,1,Croatia,,62103,1,1,NISHIMURA Yuichi (JPN),SAGARA Toru (JPN),NAGI Toshiyuki (JPN),255931,300186456,BRA,CRO,,Brazil,Draw,Bottled the lead,False
787,2014,2014-06-17 16:00:00,Group A,Estadio Castelao,Fortaleza,Brazil,0,0,Mexico,,60342,0,0,Cï¿½neyt ï¿½AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255931,300186509,BRA,MEX,,Draw,Draw,Draw till the end,False
820,2014,2014-06-28 13:00:00,Round of 16,Estadio Mineirao,Belo Horizonte,Brazil,1,1,Chile,Brazil win on penalties (3 - 2),57714,0,0,WEBB Howard (ENG),MULLARKEY Michael (ENG),Darren CANN (ENG),255951,300186487,BRA,CHI,PEN,Brazil,Draw,Bottled the lead,False
824,2014,2014-07-04 17:00:00,Quarter-finals,Estadio Castelao,Fortaleza,Brazil,2,1,Colombia,,60342,1,0,Carlos VELASCO CARBALLO (ESP),ALONSO FERNANDEZ Roberto (ESP),YUSTE Juan (ESP),255953,300186461,BRA,COL,,Brazil,Brazil,Maintained the lead,False
826,2014,2014-07-08 17:00:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1,7,Germany,,58141,0,5,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955,300186474,BRA,GER,,Germany,Germany,Maintained the lead,False
827,2014,2014-07-12 17:00:00,Match for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED,,Netherlands,Netherlands,Maintained the lead,False

In [108]:
df_players[df_players['MatchID'] == 300186461]

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Goals,Match Year
36496,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,12,JULIO CESAR,GK,Y78',NaN,2014
36497,255953,300186461,COL,PEKERMAN Jose (ARG),S,1,OSPINA,GK,NaN,NaN,2014
36498,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,3,T SILVA,C,G7' Y64',1.0,2014
36499,255953,300186461,COL,PEKERMAN Jose (ARG),S,2,C. ZAPATA,NaN,NaN,NaN,2014
36500,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,4,DAVID LUIZ,NaN,G69',1.0,2014
36501,255953,300186461,COL,PEKERMAN Jose (ARG),S,3,YEPES,C,Y69',NaN,2014
36502,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,5,FERNANDINHO,NaN,NaN,NaN,2014
36503,255953,300186461,COL,PEKERMAN Jose (ARG),S,6,C. SANCHEZ,NaN,NaN,NaN,2014
36504,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,6,MARCELO,NaN,NaN,NaN,2014
36505,255953,300186461,COL,PEKERMAN Jose (ARG),S,7,P. ARMERO,NaN,NaN,NaN,2014
36506,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,7,HULK,NaN,O83',NaN,2014
36507,255953,300186461,COL,PEKERMAN Jose (ARG),S,9,TEO,NaN,O70',NaN,2014
36508,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,8,PAULINHO,NaN,O86',NaN,2014
36509,255953,300186461,COL,PEKERMAN Jose (ARG),S,10,JAMES,NaN,Y67' P80',NaN,2014
36510,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,9,FRED,NaN,NaN,NaN,2014
36511,255953,300186461,COL,PEKERMAN Jose (ARG),S,11,CUADRADO,NaN,O80',NaN,2014
36512,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,10,NEYMAR JR,NaN,O88',NaN,2014
36513,255953,300186461,COL,PEKERMAN Jose (ARG),S,13,GUARIN,NaN,NaN,NaN,2014
36514,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,11,OSCAR,NaN,NaN,NaN,2014
36515,255953,300186461,COL,PEKERMAN Jose (ARG),S,14,IBARBO,NaN,OH46',NaN,2014
36516,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),S,23,MAICON,NaN,NaN,NaN,2014
36517,255953,300186461,COL,PEKERMAN Jose (ARG),S,18,C. ZUï¿½IGA,NaN,NaN,NaN,2014
36518,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,1,JEFFERSON,GK,NaN,NaN,2014
36519,255953,300186461,COL,PEKERMAN Jose (ARG),N,12,VARGAS,GK,NaN,NaN,2014
36520,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,22,VICTOR,GK,NaN,NaN,2014
36521,255953,300186461,COL,PEKERMAN Jose (ARG),N,22,MONDRAGON,GK,NaN,NaN,2014
36522,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,2,DANI ALVES,NaN,NaN,NaN,2014
36523,255953,300186461,COL,PEKERMAN Jose (ARG),N,4,ARIAS,NaN,NaN,NaN,2014
36524,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,13,DANTE,NaN,NaN,NaN,2014
36525,255953,300186461,COL,PEKERMAN Jose (ARG),N,5,C. CARBONERO,NaN,NaN,NaN,2014
36526,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,14,MAXWELL,NaN,NaN,NaN,2014
36527,255953,300186461,COL,PEKERMAN Jose (ARG),N,8,AGUILAR T.,NaN,NaN,NaN,2014
36528,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,15,HENRIQUE,NaN,I88',NaN,2014
36529,255953,300186461,COL,PEKERMAN Jose (ARG),N,15,A. MEJIA,NaN,NaN,NaN,2014
36530,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,16,RAMIRES,NaN,I83',NaN,2014
36531,255953,300186461,COL,PEKERMAN Jose (ARG),N,16,A. BALANTA,NaN,NaN,NaN,2014
36532,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,18,HERNANES,NaN,I86',NaN,2014
36533,255953,300186461,COL,PEKERMAN Jose (ARG),N,17,BACCA,NaN,I70',NaN,2014
36534,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,19,WILLIAN,NaN,NaN,NaN,2014
36535,255953,300186461,COL,PEKERMAN Jose (ARG),N,19,RAMOS,NaN,IH46',NaN,2014
36536,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,20,BERNARD,NaN,NaN,NaN,2014
36537,255953,300186461,COL,PEKERMAN Jose (ARG),N,20,QUINTERO,NaN,I80',NaN,2014
36538,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,21,Jï¿½,NaN,NaN,NaN,2014
36539,255953,300186461,COL,PEKERMAN Jose (ARG),N,21,JACKSON M.,NaN,NaN,NaN,2014
36540,255953,300186461,BRA,SCOLARI Luiz Felipe (BRA),N,17,L GUSTAVO,NaN,NaN,NaN,2014
36541,255953,300186461,COL,PEKERMAN Jose (ARG),N,23,VALDES,NaN,NaN,NaN,2014

In [129]:
df_events_germany.sum(numeric_only=True)

0-15        28
16-30       33
31-45       26
46-60       31
61-75       37
76-90       46
ET           8
Yellows    114
Reds         7
dtype: int32

In [133]:
df_match[(df_match['Home Team Name'] == 'Germany') | (df_match['Away Team Name'] == 'Germany')]['Stage'].value_counts()

Stage
Group 2                  17
Quarter-finals           14
Semi-finals              12
Final                     8
Round of 16               8
Group D                   6
Group 1                   6
Group A                   6
Group E                   6
Match for third place     5
Group 4                   3
Group F                   3
Group C                   3
Group G                   3
Group B                   3
First round               2
Preliminary round         1
Name: count, dtype: int64

In [138]:
df_germany.mean(numeric_only=True)

Attendance        300973.500000
Goals_scored          12.444444
Goals_conceded         6.722222
Matches                5.888889
Wins                   3.777778
Draws                  0.888889
Losses                 1.222222
Win percentage        60.965000
Comebacks              0.166667
Bottled                0.166667
Draw                   0.611111
HT victory             2.166667
2nd HF win             1.444444
NT win                 3.500000
NT loss                0.944444
NT draw                0.888889
ET win                 0.111111
ET loss                0.222222
GG win                 0.000000
GG loss                0.000000
PEN win                0.166667
PEN loss               0.055556
dtype: float64

In [115]:
df_germany.sum(numeric_only=True)

Attendance        5417523.00
Goals_scored          224.00
Goals_conceded        121.00
Matches               106.00
Wins                   68.00
Draws                  16.00
Losses                 22.00
Win percentage       1097.37
Comebacks               3.00
Bottled                 3.00
Draw                   11.00
HT victory             39.00
2nd HF win             26.00
NT win                 63.00
NT loss                17.00
NT draw                16.00
ET win                  2.00
ET loss                 4.00
GG win                  0.00
GG loss                 0.00
PEN win                 3.00
PEN loss                1.00
dtype: float64

In [117]:
df_events['Yellows'].value_counts()

Yellows
0     100
6      37
3      32
7      31
4      29
8      24
2      24
5      24
9      22
10     21
1      17
11     16
-1     13
12     12
13      5
14      4
-2      3
18      3
15      2
24      2
22      1
23      1
19      1
16      1
Name: count, dtype: Int64